<h2>You have been contacted regading your protfolio!</h2>

<p>
  <span style="color:#660033; font-weight:bold"><%= @first_name %> <%=@last_name %></span> has contacted you regarding the following:<br><br>
 <span style="color:#006666;"><i><%= @msg %></i></span><br><br>
 If you would like to get in touch with <%= @first_name %> please email <%= @email %>
</p>