     <h1 class="text-center">Portfolio</h1>
     <br>
     <div class="row">
     <!-- <p><a href="about.html" target="_blank">About</a></p> -->
     <div class="col-sm-6 col-lg-4 text-center">
      <div class="thumbnail portfolio-item"><a href="https://infinite-chamber-1845.herokuapp.com/" target="_blank"><%= image_tag("if-logo.jpg",size: "100", alt: "Idea Feast App") %></a>
        <h5>A simple web application written in Ruby.</h5>
      </div>
     </div>
      <div class="col-sm-6 col-lg-4 text-center">
       <div class="thumbnail portfolio-item">
        <a href="https://hidden-basin-7865.herokuapp.com" target="_blank"><%= image_tag("listache.jpg", height: "100", width:"200", alt: "Listache App") %></a>
         <h5>A simple web application written in Ruby.</h5>
      </div>
       </div>
     </div>
     <div class="col-sm-6 col-lg-4 text-center">
       <div class="thumbnail portfolio-item">
        <%= image_tag "placeholder.jpg", width:"100" %>
         <h4>B4Z1NG4!</h4>
       </div>
     </div>
     <div class="col-sm-6 col-lg-4 text-center">
       <div class="thumbnail portfolio-item">
        <%= image_tag "placeholder.jpg", width:"100" %>
         <h4>B4Z1NG4!</h4>
       </div>
     </div>
     <div class="col-sm-6 col-lg-4 text-center">
      <div class="thumbnail portfolio-item">
        <%= image_tag "placeholder.jpg", width:"100" %>
        <h4>B4Z1NG4!</h4>
      </div>
      </div>
      <div class="col-sm-6 col-lg-4 text-center">
       <div class="thumbnail portfolio-item">
        <%= image_tag "placeholder.jpg", width:"100" %>
         <h4>B4Z1NG4!</h4>
       </div>
      </div>
    </div>
