<h1>Listing post_apps</h1>

<table>
  <thead>
    <tr>
      <th>Appname</th>
      <th>Appdetails</th>
      <th>Image</th>
      <th>Appurl</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_apps.each do |post_app| %>
      <tr>
        <td><%= post_app.appName %></td>
        <td><%= post_app.appDetails %></td>
        <td><%= post_app.image %></td>
        <td><%= post_app.appUrl %></td>
        <td><%= link_to 'Show', post_app %></td>
        <td><%= link_to 'Edit', edit_post_app_path(post_app) %></td>
        <td><%= link_to 'Destroy', post_app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post app', new_post_app_path %>
