
<center>
  <%= link_to image_tag(@post_app.image.url(:med)), @post_app.image.url %>
</center>
<h1>
  <%= @post_app.appName %> App
</h1>
<p>
  <%= @post_app.appDetails %>
</p>
<p>
  <strong>URL:</strong> &nbsp; <a href="<%= @post_app.appUrl %>"><%= @post_app.appUrl %></a>
</p>
<p>&nbsp;</p>
<center>
<button type="button" class="btn btn-warning" style="color:white;"> <%= link_to 'Edit', edit_post_app_path(@post_app) %> </button>  &nbsp;
<button type="button" class="btn btn-info"><%= link_to 'Back', post_apps_path %></button>
</center>